@charset "UTF-8";

@import 'functions';
@import 'variables';

// Mixins
@import 'mixins';

// Utilities
@import 'utilities';

// Font-face
@import 'font-face';

// Reset
@import 'reset';

// Library
@import 'library';

// Layout
@import 'layout';

// Components
@import 'components';

// Grid
@import 'grid';

// Board Template
// @import 'board';

// Board Template Old Version
@import 'board.old';
// @import "board";

body {
    &.body-fixed {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}