@charset "UTF-8";

@import 'functions';
@import 'variables';

// Mixins
@import 'mixins';

body {
    background-color: $black;
    padding-top: rem(182);
}
.main {
    margin-top: rem(60);
}
.header {
    top: 0;
}
.sec-tit {
    .des {
        font-weight: 300;
        font-size: rem(26);
        color: $white;
        letter-spacing: -0.03em;
    }
}
.footer {
    margin-top: rem(140);
}
/*sweet alert*/
.swal2-popup {
    width: min(100%, 518px);
}
.swal2-html-container {
    border-bottom: 1px solid #dddddd;
    margin: 0 rem(20);
    padding: rem(50) 0;
}
.swal2-styled.swal2-confirm {
    background-color: $white;
    border: 0;
    font-weight: 600;
    font-size: rem(22);
    color: $black;
    outline: 0;
    transition: all 0.3s;
    padding: rem(5) rem(20);
    &:focus {
        box-shadow: none;
    }
    &:hover {
        color: $white;
        background-image: none;
        background-color: #dddddd;
    }
}   
.section {
    &-press-kit {
        .container {
            max-width: 1480px;
        }
        .category-list {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: rem(20);
            margin-top: rem(40);
            li {
                button {
                    min-width: rem(243);
                    height: rem(76);
                    font-family: 'PostNoBills';
                    font-weight: 800;
                    font-size: rem(22);
                    text-align: center;
                    color: $white;
                    background-image: url(../images/main/btn_gray.png);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    transition: all 0.3s;
                    &.active,
                    &:hover {
                        background-image: url(../images/main/btn_red.png);
                    }
                }
            }
        }
        .list-bx {
            display: flex;
            flex-wrap: wrap;
            gap: rem(60) rem(40);
            li {
                width: calc(100% / 2 - rem(20));
                opacity: 0;
                filter: blur(10px);
                transition: all 1s;
                a {
                    display: block;
                    border: 1px solid $gray-4;
                    position: relative;
                    overflow: hidden;
                    .img-bx {
                        display: block;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        transition: all 0.4s;
                    }
                    &::after {
                        content: "";
                        width: rem(50);
                        height: rem(50);
                        background-image: url(../images/sub/download_btn.jpg);
                        background-repeat: no-repeat;
                        background-size: rem(50);
                        background-position: center center;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                    @include mdq-min(lg) {
                        &:hover {
                            .img-bx {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
                &.on {
                    filter: blur(0);
                    opacity: 1;
                }
                &:nth-child(even) {
                    transition-delay: 0.2s;
                }
            }
        }
        .con-wrap {
            position: relative;
            margin-top: rem(80);
            overflow: hidden;
            .con-bx {
                width: 100%;
                opacity: 0;
                visibility: hidden;
                filter: blur(10px);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity 0.8s, filter 0.8s, visibility 0.8s;
                &.active {
                    left: 0;
                    opacity: 1;
                    visibility: visible;
                    filter: blur(0);
                    position: static;
                }
            }
        }
    }
}

@include mdq-max(lg) {
    body {
        padding-top: rem(100);
    }
    .section {
        &-press-kit {
            .list-bx {
                gap: rem(40) rem(20);
                li {
                    width: calc(100% / 2 - rem(10));
                }
            }
        }
    }
}

@include mdq-max(md) {
    .section {
        &-press-kit {
            .category-list {
                display: block;
                li {
                    width: 100%;
                    text-align: center;
                    button {
                        width: 261px;
                        height: 75px;
                    }
                    & + li {
                        margin-top: rem(10);
                    }
                }
            }
        }
    }
} 

@include mdq-max(sm) {
    .section {
        &-press-kit {
            .list-bx {
                gap: rem(60);
                li {
                    width: 100%;
                    &:nth-child(even) {
                        transition-delay: 0;
                    }
                }
            }
        }
    }
}