@charset "UTF-8";

@import 'functions';
@import 'variables';

// Mixins
@import 'mixins';

body {
    background-color: $black;
    padding-top: rem(182);
}
.main {
    margin-top: rem(60);
}
.header {
    top: 0;
}
.sec-tit {
    .des {
        font-weight: 300;
        font-size: rem(26);
        color: $white;
        letter-spacing: -0.03em;
    }
}
.footer {
    margin-top: rem(140);
}
.section {
    &-press-kit {
        .container {
            max-width: 1480px;
        }
        .list-bx {
            display: flex;
            flex-wrap: wrap;
            gap: rem(60) rem(40);
            margin-top: rem(80);
            li {
                width: calc(100% / 2 - rem(20));
                opacity: 0;
                filter: blur(10px);
                transition: all 1s;
                a {
                    display: block;
                    border: 1px solid $gray-4;
                    position: relative;
                    overflow: hidden;
                    .img-bx {
                        display: block;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        transition: all 0.4s;
                    }
                    &::after {
                        content: "";
                        width: rem(50);
                        height: rem(50);
                        background-image: url(../images/sub/download_btn.jpg);
                        background-repeat: no-repeat;
                        background-size: rem(50);
                        background-position: center center;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                    @include mdq-min(lg) {
                        &:hover {
                            .img-bx {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
                &.on {
                    filter: blur(0);
                    opacity: 1;
                }
                &:nth-child(even) {
                    transition-delay: 0.2s;
                }
            }
        }
    }
}

@include mdq-max(lg) {
    body {
        padding-top: rem(100);
    }
    .section {
        &-press-kit {
            .list-bx {
                gap: rem(40) rem(20);
                li {
                    width: calc(100% / 2 - rem(10));
                }
            }
        }
    }
}

@include mdq-max(sm) {
    .section {
        &-press-kit {
            .list-bx {
                gap: rem(60);
                li {
                    width: 100%;
                    &:nth-child(even) {
                        transition-delay: 0;
                    }
                }
            }
        }
    }
}