@charset "UTF-8";

.footer {
	background: $black;
	font-size: rem(13);
	font-weight: 100;
	padding: rem(60) 0;
	&-wrap {
		display: flex;
		justify-content: space-between;
		.bx-1 {
			.company {
				display: inline-block;
				font-weight: 700;
				font-size: rem(22);
				color: $white;
				margin-top: rem(30);
			}
			.info-list {
				margin-top: rem(20);
				li {
					display: flex;
					align-items: center;
					gap: rem(14);
					.tit {
						color: rgba($color: $white, $alpha: 0.5);
					}
					.des {
						color: $white;						
					}
					& + li {
						margin-top: rem(12);
					}
				}
			}
		}
		.bx-2 {
			.policy-list {
				display: flex;
				align-items: center;
				li {
					display: flex;
					align-items: center;
					a, button {
						display: block;
						font-weight: 600;
						font-size: rem(18);
						color: rgba($color: $white, $alpha: 0.7);
					}
					& + li {
						&::before {
							content: '';
							display: inline-block;
							width: 1px;
							height: rem(12);
							background-color: $white;
							margin: 0 rem(20);
							vertical-align: rem(-2);
						}
					}
				}
			}
			.icon-list {
				display: flex;
				align-items: center;
				gap: rem(24);
				margin-top: rem(46);
			}
		}
	}
	&-copyright {
		font-size: rem(14);
		color: rgba($color: $white, $alpha: 0.5);
	}
}
.top-btn {
	background-color: $gray-3;
	position: fixed;
	right: rem(40);
	bottom: rem(-80);
	z-index: 10;
	transition: all 0.4s;
	&.scrolled {
		bottom: rem(40);
	}
}
@include mdq-max(lg) {
	.footer {
		padding-bottom: rem(140);
		&-wrap {
			display: block;
			.bx-1 {
				.info-list {
					li {

					}
				}
			}
			.bx-2 {
				margin-top: rem(40);
				.policy-list {
					width: 100%;
				}
			}
		}
	}
	.top-btn {
		width: rem(42);
		height: rem(42);
		right: rem(10);
		bottom: rem(-80);
		&.scrolled {
			bottom: rem(10);
		}
	}
}

@include mdq-max(sm) {
	.footer {
		&-wrap {
			.bx-1 {
				.info-list {
					li {
						display: block;
						span {
							display: block;
						}
						.des {
							margin-top: rem(10);
						}
					}
				}
			}
		}
	}
}